

<div class="lights-container"></div>

<div class="spin-image"></div>

<div class="button-container" id="playContainer">
  <button class="play-button" onclick="showRoles()">Jugar</button>
</div>

    <div class="role-buttons" id="roleButtons">
        <div class="selectorRol" id="selectorRol">
            <h2>¿Controlas o participas?</h2>
        </div>
    <button class="role-button" onclick="goTo('/controlador')"><i class="fa-solid fa-brain" style="color: #c624a9;"></i>Controlador del Juego</button>
    <button class="role-button" onclick="goTo('/publico')"><i class="fa-solid fa-gamepad" style="color: #a17fe1;"></i>Jugadores</button>
    </div>

<div class="message" id="message">Haz clic aquí para comenzar el audio</div>

<script src="/js/index.js"></script>

